/* line 1, ../sass/48-glossy-buttons/shared/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 21, ../sass/48-glossy-buttons/shared/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 25, ../sass/48-glossy-buttons/shared/_reset.scss */
body {
  line-height: 1;
}

/* line 28, ../sass/48-glossy-buttons/shared/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 31, ../sass/48-glossy-buttons/shared/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 34, ../sass/48-glossy-buttons/shared/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 39, ../sass/48-glossy-buttons/shared/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 1, ../sass/48-glossy-buttons/shared/_about-dark.scss */
.about {
  margin: 70px auto 40px;
  padding: 8px;
  width: 260px;
  font: 10px/18px 'Lucida Grande', Arial, sans-serif;
  color: #bbb;
  text-align: center;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  background: #383838;
  background: rgba(34, 34, 34, 0.8);
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, transparent, rgba(0, 0, 0, 0.3));
  background-image: -moz-linear-gradient(top, transparent, rgba(0, 0, 0, 0.3));
  background-image: -o-linear-gradient(top, transparent, rgba(0, 0, 0, 0.3));
  background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.3));
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2), 0 0 6px rgba(0, 0, 0, 0.4);
}
/* line 15, ../sass/48-glossy-buttons/shared/_about-dark.scss */
.about a {
  color: #eee;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}
/* line 21, ../sass/48-glossy-buttons/shared/_about-dark.scss */
.about a:hover {
  text-decoration: none;
  background: #555;
  background: rgba(255, 255, 255, 0.15);
}

/* line 29, ../sass/48-glossy-buttons/shared/_about-dark.scss */
.about-links {
  height: 30px;
}
/* line 32, ../sass/48-glossy-buttons/shared/_about-dark.scss */
.about-links > a {
  float: left;
  width: 50%;
  line-height: 30px;
  font-size: 12px;
}

/* line 40, ../sass/48-glossy-buttons/shared/_about-dark.scss */
.about-author {
  margin-top: 5px;
}
/* line 43, ../sass/48-glossy-buttons/shared/_about-dark.scss */
.about-author > a {
  padding: 1px 3px;
  margin: 0 -1px;
}

/*
 * Copyright (c) 2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */
/* line 20, ../sass/48-glossy-buttons/48-glossy-buttons/scss/_buttons.scss */
#audio-control {
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  min-width: 96px;
  line-height: 46px;
  padding: 0 24px;
  font-size: 14px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px rgba(21, 76, 134, 0.9);
  background-color: rgba(36, 126, 221, 0.9);
  background-clip: padding-box;
  border: 1px solid;
  border-color: rgba(28, 101, 178, 0.9) rgba(24, 88, 156, 0.9) rgba(24, 88, 156, 0.9);
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.4), 0 1px 2px rgba(0, 0, 0, 0.2);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.12) 51%, rgba(0, 0, 0, 0.04));
}
/* line 41, ../sass/48-glossy-buttons/48-glossy-buttons/scss/_buttons.scss */
#audio-control:before {
  content: '';
  position: absolute;
  top: -25%;
  bottom: -25%;
  left: -20%;
  right: -20%;
  border-radius: 50%;
  background: transparent;
  -webkit-box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
  box-shadow: inset 0 0 38px rgba(255, 255, 255, 0.5);
}

/* line 59, ../sass/48-glossy-buttons/48-glossy-buttons/scss/_buttons.scss */
#audio-control .active, #audio-control.stalled, #audio-control.loadedmetadata, #audio-control.loadeddata, #audio-control.canplay, #audio-control.waiting, #audio-control.loadstart, #audio-control.playing {
  color: rgba(255, 255, 255, 0.9);
  text-shadow: 0 -1px black;
  background: #040404;
  border-color: black black black;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2), 0 1px rgba(255, 255, 255, 0.4);
  background-image: -webkit-linear-gradient(top, black, #1e1e1e);
  background-image: -moz-linear-gradient(top, black, #1e1e1e);
  background-image: -o-linear-gradient(top, black, #1e1e1e);
  background-image: linear-gradient(to bottom, black, #1e1e1e);
}
/* line 67, ../sass/48-glossy-buttons/48-glossy-buttons/scss/_buttons.scss */
#audio-control .active:before, #audio-control.stalled:before, #audio-control.loadedmetadata:before, #audio-control.loadeddata:before, #audio-control.canplay:before, #audio-control.waiting:before, #audio-control.loadstart:before, #audio-control.playing:before {
  top: -50%;
  bottom: -125%;
  left: -15%;
  right: -15%;
  -webkit-box-shadow: inset 0 0 96px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 96px rgba(0, 0, 0, 0.2);
}

/* line 77, ../sass/48-glossy-buttons/48-glossy-buttons/scss/_buttons.scss */
button.black {
  text-shadow: 0 1px black;
  background-color: #111111;
  border-color: black black black;
}
/* line 84, ../sass/48-glossy-buttons/48-glossy-buttons/scss/_buttons.scss */
button.black:hover {
  background-color: #070606;
}
/* line 86, ../sass/48-glossy-buttons/48-glossy-buttons/scss/_buttons.scss */
button.black:active {
  text-shadow: 0 -1px black;
  background: #040404;
  border-color: black black black;
  background-image: -webkit-linear-gradient(top, black, #1e1e1e);
  background-image: -moz-linear-gradient(top, black, #1e1e1e);
  background-image: -o-linear-gradient(top, black, #1e1e1e);
  background-image: linear-gradient(to bottom, black, #1e1e1e);
}

/* line 77, ../sass/48-glossy-buttons/48-glossy-buttons/scss/_buttons.scss */
button.green {
  text-shadow: 0 1px #0d4d09;
  background-color: #1ca913;
  border-color: #147b0e #11640b #11640b;
}
/* line 84, ../sass/48-glossy-buttons/48-glossy-buttons/scss/_buttons.scss */
button.green:hover {
  background-color: #159b0d;
}
/* line 86, ../sass/48-glossy-buttons/48-glossy-buttons/scss/_buttons.scss */
button.green:active {
  text-shadow: 0 -1px #0d4d09;
  background: #189210;
  border-color: #093606 #0d4d09 #147b0e;
  background-image: -webkit-linear-gradient(top, #126d0c, #20c016);
  background-image: -moz-linear-gradient(top, #126d0c, #20c016);
  background-image: -o-linear-gradient(top, #126d0c, #20c016);
  background-image: linear-gradient(to bottom, #126d0c, #20c016);
}

/* line 77, ../sass/48-glossy-buttons/48-glossy-buttons/scss/_buttons.scss */
button.blue {
  text-shadow: 0 1px #154c86;
  background-color: #247edd;
  border-color: #1c65b2 #18589c #18589c;
}
/* line 84, ../sass/48-glossy-buttons/48-glossy-buttons/scss/_buttons.scss */
button.blue:hover {
  background-color: #1a74d3;
}
/* line 86, ../sass/48-glossy-buttons/48-glossy-buttons/scss/_buttons.scss */
button.blue:active {
  text-shadow: 0 -1px #154c86;
  background: #1f71c8;
  border-color: #113f70 #154c86 #1c65b2;
  background-image: -webkit-linear-gradient(top, #1a5da5, #3a8be0);
  background-image: -moz-linear-gradient(top, #1a5da5, #3a8be0);
  background-image: -o-linear-gradient(top, #1a5da5, #3a8be0);
  background-image: linear-gradient(to bottom, #1a5da5, #3a8be0);
}

/* line 77, ../sass/48-glossy-buttons/48-glossy-buttons/scss/_buttons.scss */
#audio-control.error,
button.red {
  text-shadow: 0 1px #72100d;
  background-color: #cd1d18;
  border-color: #9f1713 #891310 #891310;
}
/* line 84, ../sass/48-glossy-buttons/48-glossy-buttons/scss/_buttons.scss */
#audio-control.error:hover,
button.red:hover {
  background-color: #c01511;
}
/* line 86, ../sass/48-glossy-buttons/48-glossy-buttons/scss/_buttons.scss */
#audio-control.error:active,
button.red:active {
  text-shadow: 0 -1px #72100d;
  background: #b61a15;
  border-color: #5b0d0b #72100d #9f1713;
  background-image: -webkit-linear-gradient(top, #921511, #e4201b);
  background-image: -moz-linear-gradient(top, #921511, #e4201b);
  background-image: -o-linear-gradient(top, #921511, #e4201b);
  background-image: linear-gradient(to bottom, #921511, #e4201b);
}

/* line 4, ../sass/style.scss */
#audio-control {
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  outline: none;
  display: block;
  height: auto;
  width: 100%;
  border: none;
  color: white;
  vertical-align: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 21, ../sass/style.scss */
#audio-control i {
  font-size: 1.6em;
  line-height: 2em;
  vertical-align: middle;
  margin-top: -3px;
  margin-right: 8px;
}

/* line 43, ../sass/style.scss */
#audio-control-message {
  font-size: 0.8em;
  font-style: italic;
  text-transform: none;
}
