@import "48-glossy-buttons/48-glossy-buttons/scss/_buttons";
@import "compass/css3/transition";

#audio-control {
  @extend %glossy-button;

  @include single-transition(all, 200ms, ease-in-out);
  outline: none;
  display: block;
  height: auto;
  width: 100%;

  border: none;
  color: white;

  vertical-align: center;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  i {
    font-size: 1.6em;
    line-height: 2em;
    vertical-align: middle;
    margin-top: -3px;
    margin-right: 8px;
  }

  &.stalled,
  &.loadedmetadata,
  &.loadeddata,
  &.canplay,
  &.waiting,
  &.loadstart,
  &.playing {
    @extend %glossy-button-active;
  }
  &.error {
    @extend %glossy-button-red;
  }
}

#audio-control-message {
  font-size: 0.8em;
  font-style: italic;
  text-transform: none;
}
