@import '../../shared/mixins',
        '../../shared/reset',
        '../../shared/about-dark';

/*
 * Copyright (c) 2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */

 $buttonColorBlack: #111111;
 $buttonHeight: 48px;
 $buttonColor: rgba(#247edd, 0.9);
 $buttonColors: "black" $buttonColorBlack, "green" #1ca913, "blue" #247edd, "red" #cd1d18;



%glossy-button {
  display: inline-block;
  vertical-align: top;
  position: relative;
  overflow: hidden;
  min-width: $buttonHeight * 2;
  line-height: $buttonHeight - 2px;
  padding: 0 round($buttonHeight / 2);
  font-size: 14px;
  color: white;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 1px darken($buttonColor, 20%);
  background-color: $buttonColor;
  background-clip: padding-box;
  border: 1px solid;
  border-color: darken($buttonColor, 10%) darken($buttonColor, 15%) darken($buttonColor, 15%);
  border-radius: 4px;
  @include box-shadow(inset 0 1px rgba(white, .4), 0 1px 2px rgba(black, .2));
  @include linear-gradient(top, rgba(white, .3), rgba(white, 0) 50%, rgba(black, .12) 51%, rgba(black, .04));

  &:before {
    content: '';
    position: absolute;
    top: -25%;
    bottom: -25%;
    left: -20%;
    right: -20%;
    border-radius: 50%;
    background: transparent;
    @include box-shadow(inset 0 0 round($buttonHeight * .8) rgba(white, .5));
  }

  // &:hover { background-color: darken(saturate($buttonColor, 5%), 4%); }
  .active {
    @extend %glossy-button-active;
  }
}

%glossy-button-active {
  color: rgba(white, .9);
  text-shadow: 0 -1px darken($buttonColorBlack, 20%);
  background: darken($buttonColorBlack, 5%);
  border-color: darken($buttonColorBlack, 25%) darken($buttonColorBlack, 20%) darken($buttonColorBlack, 10%);
  @include box-shadow(inset 0 1px 3px rgba(black, .2), 0 1px rgba(white, .4));
  @include linear-gradient(top, darken($buttonColorBlack, 13%), lighten($buttonColorBlack, 5%));

  &:before {
    top: -50%;
    bottom: -125%;
    left: -15%;
    right: -15%;
    @include box-shadow(inset 0 0 $buttonHeight * 2 rgba(black, .2));
  }
}

@each $pair in $buttonColors {
  %glossy-button-#{nth($pair, 1)},
  button.#{nth($pair, 1)} {
    $color: nth($pair, 2);
    text-shadow: 0 1px darken($color, 20%);
    background-color: $color;
    border-color: darken($color, 10%) darken($color, 15%) darken($color, 15%);

    &:hover { background-color: darken(saturate($color, 5%), 4%); }

    &:active {
      text-shadow: 0 -1px darken($color, 20%);
      background: darken($color, 5%);
      border-color: darken($color, 25%) darken($color, 20%) darken($color, 10%);
      @include linear-gradient(top, darken($color, 13%), lighten($color, 5%));
    }
  }
}
